<main id="sobrenos0">
    <h5> Sobre Nós </h5>

        <span class="testo0">
            Os donos são Cesar e Alexandre, empresa tradicional na área, realizam eventos desde 2012.
            Já possuíam uma hamburgueria e como o público alvo eram jovens sempre os viam comentando sobre eventos e decidiram investir nesse ramo.
        </span>

        <div class="par3">
            <img src="img/Sobre Nós.jpeg">
    
            <img  class="par4" src="img/SobreNós1.jpg">
        </div>
</main>