<main>

    <div class="login">
        <h2>Login</h2>
        <form method="POST" action='@Url.Action("Login", "Cliente")' id="Login">

            <div>
                <label class="l1" for="email">Email</label>

                <input id="email" type="email" name="email">
            </div>

            <div>
                <label class="l1" for="password">Senha</label>

                <input id="password" type="password" name="senha">
            </div>

                <input id="submit" type="submit" value="Entrar">

        </form>
    </div>
</main>