<main class="duvidas">
        <h5>
            Dúvidas Frequentes
        </h5>

        
        <h1 class="duv">
            O que acontece depois de realizar o cadastro do evento?
        </h1>

        
        <span  class="class"> Após realizado o cadastro, iremos analisar seu evento e aceita-lo ou recusa-lo,
            caso aceito entraremos em contato.</span>

        
        <h1 class="duv">
            Qual a média de preço?
        </h1>
        <span class="class">Depende dos serviços adicionados, porém o aluguel mínimo é de R$10.000,00</span>

        <h1 class="duv">
            Poderá ser realizado qualquer estilo de evento?
        </h1>
        <span class="class">Sim, porém, por ser um lugar fechado não suportamos um show pirotécnico de grande 
                porte.</span>

        <h1 class="duv">
            Poderemos visitar o local antes do evento ocorrer?
        </h1>
        <span class="class">Caso o evento seja aceito, entraremos em contato. Podendo sim ser agendado uma visita.</span>
</main>