<main>
    <h5>Aniversário</h5>
        
            <div class="niverimg">

                <div class="par1">
                    <img class="resolução" src="/img/Niver.jpg"> 

                    <img class="resolução" src="/img/Niver1.jpg">
                </div>

                <div class="par2">
                    <img class="resolução" src="/img/Niver2.jpg">

                    <img class="resolução" src="/img/niver3.jpg">
                </div>

            </div>
</main>