<main>
    <h5>Galeria</h5>
    <div class="containermaster">
        <br>
        <section class="container"> 
            <br>    
            <p><a  class="niver1" href='@Url.Action("Aniversario", "Galeria")'>Aniversário</a></p>    
        </section>

        <section class="container2">
            <br>
            <p><a class="niver2"  href='@Url.Action("Palestras", "Galeria")'>Palestras</a></p>
            
        </section>  

        <section class="container3">
            <br>
            <p><a class="niver3"  href='@Url.Action("Baladas", "Galeria")'>Baladas</a></p>
        </section>
    </div>
</main>