<main>
    <h5>Palestras</h5>
        
            <div class="niverimg">

                <div class="par1">
                    <img class="resolução" src="/img/Palestras.jpg">

                    <img class="resolução" src="/img/Palestras1.jpg">
                </div>

                <div class="par2">
                    <img class="resolução" src="/img/Palestras2.jpg">

                    <img class="resolução" src="/img/Palestras3.jpg">
                </div>

            </div>
</main>